<div class="row">
    <div class="col s12">
        <h3 class="flow-text">
            <a id="back" href="#" class="black-text"><i class="material-icons left">arrow_back</i>Voltar</a>
        </h3>
        <p>Para fazer doação de materiais pra CONREJE, preencha os dados
        abaixo e selecione o(s) item(ens) abaixo  informando a quantidade disponibilizada.<br />
        Para finalizar clique em <strong>ENVIAR</strong>.</p>
    </div>
</div>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" required="required" class="validate">
                <label for="name">Nome</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" required="required"  class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">phone</i>
                <label for="phone">Telefone</label>
                <input id="phone" type="tel" required="required"  class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="categories"></div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="btn right waves-effect waves-light">
                    <i class="material-icons right">send</i>
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>