<form>
    <div class="modal-content">
        <div id="loader" class="preloader-wrapper small right">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <h6 id="error" class="red-text right hide"></h6>
        <h4>Contato</h4>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="name" type="text" required="required" class="validate" value="<%= name %>">
                        <label for="name">Nome</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" required="required"  class="validate" value="<%= email %>">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">phone</i>
                        <label for="phone">Telefone</label>
                        <input id="phone" type="tel" required="required"  class="validate" value="<%= phone %>">
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="message" required="required" class="materialize-textarea"><%= message %></textarea>
                        <label for="message">Mensagem</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-green btn-flat">Enviar</button>
        <a href="#" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
</form>