<div class="row">
    <div class="col s12">
        <h3 class="flow-text" style="font-weight: bold;">
            <i class="material-icons left">favorite</i>Contribua
        </h3>
        <p class="flow-text">Você pode ajudar na realização da CONREJE das seguintes formas:</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l4">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/contribuicoes/financeira.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    Financeiramente
                    <i class="material-icons right">more_vert</i>
                </span>
                <p>Através de depósito bancário</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    Financeiramente
                    <i class="material-icons right">close</i>
                </span>
                <p>Depósito em <strong>Conta Poupança</strong>:</p>
                <h6 class="bank">Banco do Brasil</h6>
                <dl class="bank">
                    <dt>Agência</dt>
                    <dd>5457-7</dd>
                    <dt>Conta</dt>
                    <dd>115.384-6</dd>
                    <dt>Variação</dt>
                    <dd>51</dd>
                    <dt>Nome</dt>
                    <dd>MARCO C. K. DA SILVA</dd>
                    <dt>CPF</dt>
                    <dd>003.419.909-81</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div id="doacoes" class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img src="images/contribuicoes/material.jpg">
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">Materialmente</span>
                <p>Doação de produtos de limpeza, alimentos ou outros ítens</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small">
            <div class="card-image">
                <img src="images/contribuicoes/trabalho.jpg">
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">Trabalhando</span>
                <p>Aguarde novas informações!</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4 offset-s4">
        <h5 style="text-align: center;">Obrigado!</h5>
    </div>
</div>